# encode all files as EBCDIC unless mentioned elsewhere
*  git-encoding=utf-8 zos-working-tree-encoding=ibm-1047

# encode selected files
*.gif   git-encoding=utf-8	zos-working-tree-encoding=utf-8
*.png   git-encoding=utf-8	zos-working-tree-encoding=utf-8
*.tar.gz git-encoding=utf-8	zos-working-tree-encoding=utf-8
*.json  git-encoding=utf-8	zos-working-tree-encoding=utf-8
