.challenge-page {
  background-color: black;
}

.challenge-page__banner {
  background-color: black;
}

.challenge-page__heading {
  color: white;
}

.challenge-page__subheading {
  color: silver;
}

.challenge-page-body {
  background-color: #f4f4f4;
}

.tile-props {
}

.data-form {
  padding-bottom: 30px;
}

.gap-below {
  margin-bottom: 20px;
}

.gap-above {
  margin-top: 5px;
}

.gap-above-20 {
  margin-top: 20px;
}

.bx--fieldset {
  margin-bottom: 0px;
}

.bpx .bx--accordion__content {
  padding-bottom: 0px;
}

.email-key-input {
  max-width: 222px;
}
