@import './mixins.scss';
@import './overrides.scss';

.landing-page__illo {
  max-width: 100%;
}

.disclaimer-kill {
  padding-bottom: 0;
  font-weight: normal;
}

.landing-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 2;
  @include landing-page-background;
}

.social-distancing {
  margin-bottom: $spacing-07;
  border-bottom-style: hidden;
}

.company {
  font-weight: lighter;
}

.landing-page__heading {
  @include carbon--type-style('productive-heading-05');
}

.landing-page__r2 {
  margin-top: rem(-40px);
}

.landing-page__tab-content {
  padding-top: $layout-05;
  padding-bottom: $layout-05;
}

.landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
}

.landing-page__p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.landing-page__r3 {
  padding-top: $spacing-09;
  padding-bottom: $spacing-09;
  @include landing-page-background;
}

.landing-page__label {
  @include carbon--type-style('heading-01');
}

.image-frame {
  text-align: center;
  margin-bottom: 10px;
}

.image-circle {
  border-radius: 50%;
}

.info-links {
  padding-top: $spacing-03;
}

.black-link {
  color: black !important;
}

.tellina-area {
  margin-top: $spacing-07;
}

.no-fill .bx--loading__svg {
  fill: none !important;
}

.service-selector ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0f62fe !important;
  opacity: 1; /* Firefox */
}

.service-selector :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0f62fe;
}

.service-selector ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0f62fe;
}

.no-decoration-link {
  text-decoration: none !important;
}

.no-decoration-link:hover {
  text-decoration: underline !important;
}
